<a href="https://colab.research.google.com/github/augustodalosta-lgtm/Aprendizado-primeiro-passo-0/blob/main/Exp_dados_com_pandas_aula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd # O IMPORT tras a biblioteca escolhida e AS tras um apelido para essa biblioteca Ex: pandas as pd

In [5]:
# DF é um dataframe que vindula um link que contem os dados e Pd.read é a leitura e _csv é o tipo de arquivo a ser lido
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [6]:
# df.head() é a leitura completa do df definido acima. mas tambem posso colocar um numero de linhas dentro do () para visualizar
df.head(100)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
95,2025.0,SE,FT,Data Analyst,120000,USD,120000,US,0,US,M
96,2025.0,SE,FT,Data Analyst,90000,USD,90000,US,0,US,M
97,2025.0,SE,FT,Data Analyst,122000,USD,122000,US,0,US,M
98,2025.0,SE,FT,Data Analyst,78000,USD,78000,US,0,US,M
99,2025.0,EN,FT,Data Analyst,110000,USD,110000,US,0,US,M

In [7]:
df.info() # nos tras um resulmo da planilha acima

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [8]:
df.describe() # nos mostrou as colunas numericas, tudo oq era float64 e int64 = estatisticas

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [9]:
df.shape # ele nao contem () pois é um atributo
# linha e coluna

(133349, 11)

In [10]:
linhas, colunas = df.shape[0], df.shape[1] #definimos uma variavel
print("linhas:", linhas) # fizemos um print da primeira variavel com o texto em "" com : e a variavel despois da ,
print("colunas:", colunas)

linhas: 133349
colunas: 11

In [11]:
df.columns # visualização das colunas

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [12]:
colunas_traduzidas = {
    'work_year': 'ano',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'remoto',
    'company_location': 'empresa',
    'company_size': 'tamanho_empresa'
}

df = df.rename(columns=colunas_traduzidas)
print("Colunas do DataFrame traduzidas:")
print(df.columns)

Colunas do DataFrame traduzidas:
Index(['ano', 'senioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [13]:
df["senioridade"].value_counts() # desta forma contamos o valores para cada experiencia

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [14]:
df["contrato"].value_counts()
# FT = Full Time
# CT = Contrato Temporario
# PT = Part Time (estagio meio periodo)
# FL = Freelancer

contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [15]:
df["remoto"].value_counts()
# 0 sao presenciais
# 100 trabalho remoto
# 50 vagas hibridas

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [16]:
df["tamanho_empresa"].value_counts()
# M = medio
# L = grandes
# S = pequena

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [17]:
mapeamento_senioridade = {
    'SE': 'Senior',
    'MI': 'Pleno',
    'EN': 'Junior',
    'EX': 'Diretor'
}
df['senioridade'] = df['senioridade'].map(mapeamento_senioridade)
print("Contagem de valores na coluna 'senioridade' após a tradução:")
print(df['senioridade'].value_counts())

Contagem de valores na coluna 'senioridade' após a tradução:
senioridade
Senior     77241
Pleno      40465
Junior     12443
Diretor     3200
Name: count, dtype: int64

In [18]:
mapeamento_contrato = {
    'FT': 'Tempo Integral',
    'CT': 'Contrato Temporário',
    'PT': 'Meio Período',
    'FL': 'Freelancer'
}
df['contrato'] = df['contrato'].map(mapeamento_contrato)
print("Contagem de valores na coluna 'contrato' após a tradução:")
print(df['contrato'].value_counts())

Contagem de valores na coluna 'contrato' após a tradução:
contrato
Tempo Integral         132563
Contrato Temporário       394
Meio Período              376
Freelancer                 16
Name: count, dtype: int64

In [19]:
mapeamento_tamanho_empresa = {
    'M': 'Média',
    'L': 'Grande',
    'S': 'Pequena'
}
df['tamanho_empresa'] = df['tamanho_empresa'].map(mapeamento_tamanho_empresa)
print("Contagem de valores na coluna 'tamanho_empresa' após a tradução:")
print(df['tamanho_empresa'].value_counts())

Contagem de valores na coluna 'tamanho_empresa' após a tradução:
tamanho_empresa
Média      129561
Grande       3574
Pequena       214
Name: count, dtype: int64

In [20]:
mapeamento_remoto = {
    0: 'Presencial',
    100: 'Remoto',
    50: 'Híbrido'
}
df['remoto'] = df['remoto'].map(mapeamento_remoto)
print("Contagem de valores na coluna 'remoto' após a tradução:")
print(df['remoto'].value_counts())

Contagem de valores na coluna 'remoto' após a tradução:
remoto
Presencial    105312
Remoto         27718
Híbrido          319
Name: count, dtype: int64

In [21]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025.0,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Junior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [22]:
df.describe(include="object")

,senioridade,contrato,cargo,moeda,residencia,remoto,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Senior,Tempo Integral,Data Scientist,USD,US,Presencial,US,Média
freq,77241,132563,17314,126140,119579,105312,119641,129561

In [23]:
df.describe()

                 ano       salario            usd
count  133339.000000  1.333490e+05  133349.000000
mean     2024.358770  1.632833e+05  157617.272098
std         0.680627  2.173860e+05   74288.363097
min      2020.000000  1.400000e+04   15000.000000
25%      2024.000000  1.060200e+05  106000.000000
50%      2024.000000  1.470000e+05  146206.000000
75%      2025.000000  1.990000e+05  198000.000000
max      2025.000000  3.040000e+07  800000.000000

In [24]:
# AULA 2 = CRIAÇÃO DE DATAFRAME E MODELAÇÃO DE RESULTADOS NULOS

In [25]:
df.isnull()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [26]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025.0,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Junior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [27]:
df.isnull().sum()

ano                10
senioridade         0
contrato            0
cargo               0
salario             0
moeda               0
usd                 0
residencia          0
remoto              0
empresa             0
tamanho_empresa     0
dtype: int64

In [29]:
df['ano'].unique()

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [30]:
df[df.isnull().any(axis=1)]

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
5588,NaN,Senior,Tempo Integral,Product Manager,184500,USD,184500,US,Presencial,US,Média
59692,NaN,Pleno,Tempo Integral,Engineer,110000,USD,110000,DE,Presencial,DE,Média
59710,NaN,Junior,Tempo Integral,Data Scientist,208800,USD,208800,US,Presencial,US,Média
59759,NaN,Senior,Tempo Integral,Software Engineer,135000,USD,135000,US,Presencial,US,Média
59789,NaN,Senior,Tempo Integral,Engineer,112000,USD,112000,US,Presencial,US,Média
131000,NaN,Senior,Tempo Integral,Machine Learning Engineer,163800,USD,163800,US,Presencial,US,Média
131006,NaN,Senior,Tempo Integral,Data Analytics Manager,204500,USD,204500,US,Presencial,US,Média
133054,NaN,Junior,Tempo Integral,Data Scientist,40000,USD,40000,JP,Remoto,MY,Grande
133281,NaN,Pleno,Tempo Integral,Machine Learning Engineer,180000,PLN,46597,PL,Remoto,PL,Grande
133317,NaN,Pleno,Tempo Integral,Data Scientist,130000,USD,130000,US,Híbrido,US,Grande

In [46]:
import numpy as np

# criação de base de teste
df_salarios = pd.DataFrame({
    "nome": ["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    "salario": [4000, np.nan, 5000, np.nan, 100000]
})
# essa linha calcula a media e substitui os valores NaN por medias  e aredonda o valor
df_salarios['salario_media'] = df_salarios['salario'].fillna(df_salarios['salario'].mean().round(2))
# Calcula a mediana e substituia a=os NaN pelas medianas
df_salarios['salario_mediana'] = df_salarios['salario'].fillna(df_salarios['salario'].median())
df_salarios

      nome   salario  salario_media  salario_mediana
0      Ana    4000.0        4000.00           4000.0
1    Bruno       NaN       36333.33           5000.0
2   Carlos    5000.0        5000.00           5000.0
3  Daniele       NaN       36333.33           5000.0
4      Val  100000.0      100000.00         100000.0

In [47]:
df_temperaturas = pd.DataFrame({
    "dia": ["Segunda", "Terça", "Quarta", "Quinta", "Sexta"],
    "temperatura": [30, np.nan, np.nan, 28, 27]
})
# repete o dia anterior para os dias nulos
df_temperaturas["preenchido_ffill"] = df_temperaturas["temperatura"].fillna(method="ffill")
df_temperaturas

/tmp/ipython-input-2314905396.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_temperaturas["preenchido_ffill"] = df_temperaturas["temperatura"].fillna(method="ffill")

       dia  temperatura  preenchido_ffill
0  Segunda         30.0              30.0
1    Terça          NaN              30.0
2   Quarta          NaN              30.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [48]:
df_temperaturas = pd.DataFrame({
    "dia": ["Segunda", "Terça", "Quarta", "Quinta", "Sexta"],
    "temperatura": [30, np.nan, np.nan, 28, 27]
})
# Repete o dia posterior para o dias nulos
df_temperaturas["preenchido_bfill"] = df_temperaturas["temperatura"].fillna(method="bfill")
df_temperaturas

/tmp/ipython-input-799664758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_temperaturas["preenchido_bfill"] = df_temperaturas["temperatura"].fillna(method="bfill")

       dia  temperatura  preenchido_bfill
0  Segunda         30.0              30.0
1    Terça          NaN              28.0
2   Quarta          NaN              28.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [51]:
df_cidades = pd.DataFrame({
    "nome": ["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    "cidade": ["São Paulo", np.nan, "Curitiba", np.nan, "Belém"]
})
# Essa linha altera e troca o valor nulo por um valor que escolhemos ex: Não Informado
df_cidades["cidade_preenchida"] = df_cidades["cidade"].fillna("Não Informado")
df_cidades

      nome     cidade cidade_preenchida
0      Ana  São Paulo         São Paulo
1    Bruno        NaN     Não Informado
2   Carlos   Curitiba          Curitiba
3  Daniele        NaN     Não Informado
4      Val      Belém             Belém

In [53]:
df_limpo = df.dropna()

In [54]:
df_limpo.isnull().sum()

ano                0
senioridade        0
contrato           0
cargo              0
salario            0
moeda              0
usd                0
residencia         0
remoto             0
empresa            0
tamanho_empresa    0
dtype: int64

In [65]:
df_limpo.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025,Junior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [56]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano              133339 non-null  float64
 1   senioridade      133339 non-null  object
 2   contrato         133339 non-null  object
 3   cargo            133339 non-null  object
 4   salario          133339 non-null  int64
 5   moeda            133339 non-null  object
 6   usd              133339 non-null  int64
 7   residencia       133339 non-null  object
 8   remoto           133339 non-null  object
 9   empresa          133339 non-null  object
 10  tamanho_empresa  133339 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.2+ MB

In [64]:
df_limpo = df_limpo.assign(ano = df_limpo['ano'].astype("int64"))
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano              133339 non-null  int64
 1   senioridade      133339 non-null  object
 2   contrato         133339 non-null  object
 3   cargo            133339 non-null  object
 4   salario          133339 non-null  int64
 5   moeda            133339 non-null  object
 6   usd              133339 non-null  int64
 7   residencia       133339 non-null  object
 8   remoto           133339 non-null  object
 9   empresa          133339 non-null  object
 10  tamanho_empresa  133339 non-null  object
dtypes: int64(3), object(8)
memory usage: 12.2+ MB

In [67]:
df_limpo.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025,Junior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média